/* certificate */

.certificate_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50rem;
}

.certificate_img {
  width: 31rem;
  height: 40rem;
}

@media screen and (max-width: 480px) {
  /* Herader */
  .header-right {
    display: flex;
    flex-direction: row;
  }

  .header {
    position: fixed;
  }
  .header a {
    padding: 6px;
    white-space: nowrap;
  }

  .menu_item a {
    font-size: 12px;
  }

  .bold_heading {
    margin-top: 280px;
    width: 350px;
    font-size: 20px;
  }
  .sub_heading_home {
    width: 300px;
    font-size: 25px;
  }

  /* certificate */
  .certificate_container {
    height: 30rem;
    margin: 15px 0;
  }

  .certificate_img {
    width: 20rem;
    height: 25rem;
  }

  .front_content {
    height: auto;
  }
  /* why buy buy from us ? */

  .cockpit_img {
    margin-top: 30px;
    margin-bottom: 60px;
    border-width: 5px;
  }

  .cockpit_img img {
    height: 190px;
    width: 285px;
  }
  .text_side {
    width: 75%;
  }

  .image_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    margin: 20px 0image_side;
  }

  .cockpit_img {
    margin-left: 0;
    width: auto;
    border-radius: 10px;
  }

  .img {
    margin-right: 92px !important;
  }

  /* aboutUs */
  .aboutus_para {
    width: 90%;
  }

  /* our Product */

  .react-multi-carousel-item {
    margin: 0 0;
  }
  /* footer */
  .footer_wrapper img {
    height: auto;
  }

  .black_box {
    width: 385px;
    height: 355px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 16px;
  }

  /* our products */

  .product_listing {
    display: flex;
    flex-wrap: wrap;
  }
  /* contact */
  .contact_img {
    display: none;
  }

  /* copyrights */
  .copyright p {
    font-size: 14px;
  }
}
